# Regression Analysis on Apartments Price Based on XXX
* I Putu Agastya Harta Pratama
* Chi Phuong Dao

Faculty of Economic Sciences <br>
University of Warsaw <br>
Warsaw, Poland <br>
2025

## Imports

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder
import seaborn as sns
import pickle

In [5]:
apartments = pd.read_csv('appartments_train.csv')
apartments.head(5)

,unit_id,obj_type,dim_m2,n_rooms,floor_no,floor_max,year_built,dist_centre,n_poi,dist_sch,...,price_z,src_month,loc_code,market_volatility,infrastructure_quality,neighborhood_crime_rate,popularity_index,green_space_ratio,estimated_maintenance_cost,global_economic_index
0,a3a463617a5c0439,0d6c4dfc,45.89,2.0,1.0,4.0,1999.0,13.496,11.0,0.541,...,519626.21,2023-09,693f303c,501710.76,14.02,95.39,44.51,0.999,13.99,100.291946
1,23a92531fcb238b4,0c238f18,27.64,1.0,1.0,2.0,1940.0,2.440,16.0,0.377,...,162959.26,2024-04,8d5a4f0c,147763.87,110.55,46.17,56.25,1.000,7.59,91.315644
2,d158671401f9fc34,0d6c4dfc,62.18,2.0,1.0,2.0,2000.0,10.284,8.0,0.391,...,1167571.51,2023-10,693f303c,1042847.59,31.15,18.94,50.36,0.999,21.14,93.681619
3,280aced4655b7a96,2a6d5c01,53.68,2.0,NaN,4.0,2018.0,10.589,30.0,0.729,...,907071.16,2024-01,693f303c,728839.39,7.52,11.84,46.69,0.999,7.91,94.192062
4,2315fa621e746fe4,2a6d5c01,70.89,3.0,2.0,3.0,2015.0,8.305,7.0,1.226,...,1080383.19,2023-11,693f303c,1263171.15,11.20,89.64,45.60,0.999,8.63,96.166051

In [6]:
apartments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156454 entries, 0 to 156453
Data columns (total 34 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   unit_id                     156454 non-null  object
 1   obj_type                    122634 non-null  object
 2   dim_m2                      156454 non-null  float64
 3   n_rooms                     156454 non-null  float64
 4   floor_no                    128756 non-null  float64
 5   floor_max                   154533 non-null  float64
 6   year_built                  130741 non-null  float64
 7   dist_centre                 156454 non-null  float64
 8   n_poi                       156454 non-null  float64
 9   dist_sch                    156324 non-null  float64
 10  dist_clinic                 155883 non-null  float64
 11  dist_post                   156266 non-null  float64
 12  dist_kind                   156291 non-null  float64
 13  dist_rest                   156063 non-null  float64
 14  dist_uni                    152137 non-null  float64
 15  dist_pharma                 156235 non-null  float64
 16  own_type                    156454 non-null  object
 17  build_mat                   94455 non-null   object
 18  cond_class                  39396 non-null   object
 19  has_park                    156454 non-null  object
 20  has_balcony                 156454 non-null  object
 21  has_lift                    148727 non-null  object
 22  has_sec                     156454 non-null  object
 23  has_store                   156454 non-null  object
 24  price_z                     156454 non-null  float64
 25  src_month                   156454 non-null  object
 26  loc_code                    156454 non-null  object
 27  market_volatility           156454 non-null  float64
 28  infrastructure_quality      130741 non-null  float64
 29  neighborhood_crime_rate     156454 non-null  float64
 30  popularity_index            156454 non-null  float64
 31  green_space_ratio           156454 non-null  float64
 32  estimated_maintenance_cost  156454 non-null  float64
 33  global_economic_index       156454 non-null  float64
dtypes: float64(22), object(12)
memory usage: 40.6+ MB

## Exploratory Data Analysis